src/main/resources/schemas/video_target.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/videoTarget/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/videoTarget/">
  <xs:include schemaLocation="base.xsd" />

    <xs:element name="id" type="xs:string"/>
    <xs:element name="label" type="xs:string"/>
    <xs:element name="acodec" type="xs:string"/>
    <xs:element name="vcodec" type="xs:string"/>
    <xs:element name="extension" type="xs:string"/>
    <xs:element name="mimetype" type="xs:string"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>
</xs:schema>